Source/NSEmbroidery.UI/Service References/Embroidery/EmbroideryCreator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmbroideryCreator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8030/EmbroideryCreator?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8030/EmbroideryCreator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8030/EmbroideryCreator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost:8030/EmbroideryCreator?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8030/EmbroideryCreator?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NSEmbroidery.Core" />
      <xsd:import schemaLocation="http://localhost:8030/EmbroideryCreator?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmbroideryCreatorService_GetEmbroidery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmbroidery" />
  </wsdl:message>
  <wsdl:message name="IEmbroideryCreatorService_GetEmbroidery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmbroideryResponse" />
  </wsdl:message>
  <wsdl:message name="IEmbroideryCreatorService_PossibleResolutionsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:PossibleResolutionsCount" />
  </wsdl:message>
  <wsdl:message name="IEmbroideryCreatorService_PossibleResolutionsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:PossibleResolutionsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEmbroideryCreatorService_PossibleResolutions_InputMessage">
    <wsdl:part name="parameters" element="tns:PossibleResolutions" />
  </wsdl:message>
  <wsdl:message name="IEmbroideryCreatorService_PossibleResolutions_OutputMessage">
    <wsdl:part name="parameters" element="tns:PossibleResolutionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmbroideryCreatorService">
    <wsdl:operation name="GetEmbroidery">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmbroideryCreatorService/GetEmbroidery" message="tns:IEmbroideryCreatorService_GetEmbroidery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmbroideryCreatorService/GetEmbroideryResponse" message="tns:IEmbroideryCreatorService_GetEmbroidery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PossibleResolutionsCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmbroideryCreatorService/PossibleResolutionsCount" message="tns:IEmbroideryCreatorService_PossibleResolutionsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmbroideryCreatorService/PossibleResolutionsCountResponse" message="tns:IEmbroideryCreatorService_PossibleResolutionsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PossibleResolutions">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmbroideryCreatorService/PossibleResolutions" message="tns:IEmbroideryCreatorService_PossibleResolutions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmbroideryCreatorService/PossibleResolutionsResponse" message="tns:IEmbroideryCreatorService_PossibleResolutions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmbroideryCreatorService" type="tns:IEmbroideryCreatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmbroidery">
      <soap:operation soapAction="http://tempuri.org/IEmbroideryCreatorService/GetEmbroidery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PossibleResolutionsCount">
      <soap:operation soapAction="http://tempuri.org/IEmbroideryCreatorService/PossibleResolutionsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PossibleResolutions">
      <soap:operation soapAction="http://tempuri.org/IEmbroideryCreatorService/PossibleResolutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmbroideryCreator">
    <wsdl:port name="BasicHttpBinding_IEmbroideryCreatorService" binding="tns:BasicHttpBinding_IEmbroideryCreatorService">
      <soap:address location="http://localhost:8030/EmbroideryCreator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>