Source/NSEmbroidery.UI/Service References/Embroidery/EmbroideryCreator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Drawing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Drawing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8030/EmbroideryCreator?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Color">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="knownColor" type="xs:short" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="state" type="xs:short" />
      <xs:element name="value" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:complexType name="ArrayOfColor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Color" type="tns:Color" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColor" nillable="true" type="tns:ArrayOfColor" />
  <xs:complexType name="Bitmap">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Image" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bitmap" nillable="true" type="tns:Bitmap" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
</xs:schema>